# Gradle shit
.gradle
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
!src/**/target/
**/target/
nms/src/generated/java/org/screamingsandals/lib/impl/nms/accessors/

# Eclipse
/bin
.settings
.project
.classpath

# IntelliJ
out/
.idea/
*.iml

# Misc
.DS_Store
CraftBukkit/